@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

header {
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    padding-top: 30px;
    background: linear-gradient(to right, #111111, #777777);
}

/* navber style */
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 0px 10px 0px 0px;
}

#btn {
    background-color: #E6533C;
    padding: 5px 14px;
    border-radius: 50px;
    margin: 0;
}

nav h1 {
    color: #E6533C;
    font-style: italic;
    font-weight: bold;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}

.icon {
    display: none;
}

/* banner section style */
.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: white;
}

.banner-img {
    height: 580px;
    width: 349px;
    position: relative;
}

.banner-description {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.banner-description h1 {
    font-size: 4rem;
}

p {
    color: gray;
}

.banner-description .btn button {
    background-color: #E6533C;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}

.btn-bg-none {
    background: linear-gradient(to right, #111111, #777777);
    border: 1px solid white;
}

.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    bottom: 50px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sercal {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50px;
}

.card-2 {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    left: 180px;
    top: 180px;
    padding: 5px;
    border-radius: 5px;
}
.banner-img p {
    color: white;
    font-size: 12px;
    font-weight: bold;
}


@media screen and (max-width: 576px) {
    nav ul {
        display: none;
    }

    .icon {
        display: inline;
        color: white;
    }

    .banner {
        flex-direction: column;
    }
    .banner-description{
        width: 100%;
    }
    .banner-img{
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner {
        flex-direction: column;
    }
    .banner-description{
        width: 100%;
    }
     .banner-img{
        width: 100%;
        margin: 0 auto;
    }
}